{% extends 'base.html' %}
{% block content %}

<div class="container ">
  
<div class="row">
  <div class="col-md-6"></div>
 
  <div class="col-md-6">
    <form action="{% url 'search' %}" method="POST">
      {% csrf_token %} 
      <input type="text" name="name">
      <input type="submit" class="btn btn-success" name="submit" value="Search">
  </form>
</div>
</div>

</div>

<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <a class="btn btn-primary me-0"  href="{% url 'signup' %}" style="float: right;">Add User</a>

          <!-- {% if res is defined %}   -->

          {% for result in res %}

    <p>{{result.first_name}}</p>

{% endfor %}


          
            {% for item in ls %}
            {% if item.is_superuser != True %}
            
          <tr>
            <th scope="row"></th>
            <td>{{item.first_name}}</td>
            <td>{{item.last_name}}</td>
            <td>{{item.email}}</td>
            <td><a href="{% url 'edit' item.id%}" class="btn btn-primary">Edit</a>
                <a href="{% url 'delete' item.pk%}" class="btn btn-danger">Delete</a></td>
        </tr>
        {% endif %}
        {% endfor %}
<!-- {% endif %} -->
<a class="btn btn-primary"  href="{% url 'adminlogout' %}">signout</a>
        </tbody>
      </table>
</div>


{% endblock %}